<template>
  <v-container fluid class="pa-0">
    <v-row>
      <v-col>
        <h1 class="text-h6">{{ $t("settings.account") }}</h1>
      </v-col>
    </v-row>

    <v-divider class="my-5" />

    <v-row>
      <v-col
        :cols="12"
        :sm="$store.getters.isDrawerMini ? 6 : 12"
        :md="$store.getters.isDrawerMini ? 4 : 6"
        :lg="4"
      >
        <v-card :elevation="0">
          <v-list>
            <v-list-item @click="isSignOutDialogVisible = true">
              <v-list-item-icon>
                <v-icon color="error">mdi-logout</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>
                  {{ $t("common.signOut") }}
                </v-list-item-title>

                <v-list-item-subtitle class="mt-1">
                  {{ email }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>

    <Dialog
      :visible="isSignOutDialogVisible"
      :title="$t('common.signOut')"
      :message="$t('drawer.confirmSignOutMessage')"
      @close="isSignOutDialogVisible = false"
    >
      <v-btn depressed @click="isSignOutDialogVisible = false">
        {{ $t("common.cancel") }}
      </v-btn>

      <v-btn depressed color="error" @click="signOut">
        {{ $t("common.signOut") }}
      </v-btn>
    </Dialog>
  </v-container>
</template>

<script lang="ts">
import Dialog from "@/components/molecules/Dialog.vue";
import Vue from "vue";

export default Vue.extend({
  components: { Dialog },
  data() {
    return {
      isSignOutDialogVisible: false,
    };
  },
  computed: {
    email(): string {
      return this.$store.getters.currentUser.email;
    },
  },
  methods: {
    signOut() {
      this.isSignOutDialogVisible = false;

      this.$services.auth.signOut().then(() => {
        this.$router.replace("/auth");
      });
    },
  },
});
</script>
