<template>
  <v-container fluid class="pa-0">
    <v-row>
      <v-col>
        <h1 class="text-h6">{{ $t("settings.general") }}</h1>
      </v-col>
    </v-row>

    <v-divider class="my-5" />

    <v-row>
      <v-col
        :cols="12"
        :sm="$store.getters.isDrawerMini ? 6 : 12"
        :md="$store.getters.isDrawerMini ? 4 : 6"
        :lg="4"
      >
        <v-card :elevation="0">
          <v-list>
            <v-list-item @click="toggleMode" v-if="!$vuetify.theme.dark">
              <v-list-item-icon>
                <v-icon color="blue darken-2">mdi-moon-waxing-crescent</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>
                  {{ $t("settings.enableDarkMode") }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item @click="toggleMode" v-else>
              <v-list-item-icon>
                <v-icon color="yellow">mdi-white-balance-sunny</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>
                  {{ $t("settings.disableDarkMode") }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>

      <v-col
        :cols="12"
        :sm="$store.getters.isDrawerMini ? 6 : 12"
        :md="$store.getters.isDrawerMini ? 4 : 6"
        :lg="4"
      >
        <v-card :elevation="0">
          <v-list>
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-translate</v-icon>
              </v-list-item-icon>

              <v-list-item-content class="overflow-visible">
                <v-list-item-title class="overflow-visible">
                  {{ $t("settings.changeLanguage") }}
                  <v-radio-group v-model="$i18n.locale" row hide-details>
                    <v-radio label="🇫🇷" value="fr"></v-radio>
                    <v-radio label="🇬🇧" value="en"></v-radio>
                  </v-radio-group>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>

      <v-col
        :cols="12"
        :sm="$store.getters.isDrawerMini ? 6 : 12"
        :md="$store.getters.isDrawerMini ? 4 : 6"
        :lg="4"
      >
        <v-card :elevation="0">
          <v-list>
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-translate</v-icon>
              </v-list-item-icon>

              <v-list-item-content class="overflow-visible">
                <v-list-item-title class="overflow-visible">
                  {{ $t("settings.editDefaultCurrency") }}
                  <v-radio-group v-model="defaultCurrency" row hide-details>
                    <v-radio label="€" value="EUR"></v-radio>
                    <v-radio label="$" value="USD"></v-radio>
                  </v-radio-group>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      items: [
        {
          value: "fr",
          text: "🇫🇷",
        },
        {
          value: "en",
          text: "🇬🇧",
        },
      ],
    };
  },
  methods: {
    toggleMode() {
      const newValue = JSON.parse(
        this.$services.storage.get("darkMode") || "false"
      ) as boolean;

      this.$services.storage.set("darkMode", `${!newValue}`);

      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },
  },
  watch: {
    locale(newValue: string) {
      this.$services.storage.set("language", newValue);
    },
  },
  computed: {
    locale(): string {
      return this.$i18n.locale;
    },
    defaultCurrency: {
      get(): string {
        return this.$store.getters.defaultCurrency;
      },
      set(newValue) {
        this.$store.commit("setDefaultCurrency", newValue);
      },
    },
  },
});
</script>
