<template>
  <v-container fluid class="pa-0">
    <v-row>
      <v-col>
        <h1 class="text-h6">{{ $t("settings.informations") }}</h1>
      </v-col>
    </v-row>

    <v-divider class="my-5" />

    <v-row>
      <v-col
        :cols="12"
        :sm="$store.getters.isDrawerMini ? 6 : 12"
        :md="$store.getters.isDrawerMini ? 4 : 6"
        :lg="4"
      >
        <v-card :elevation="0">
          <v-list>
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="grey darken-2">mdi-information-outline</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>
                  {{ $t("common.appTitle") }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({});
</script>
