<template>
  <v-container
    fluid
    fill-height
    align-center
    justify-center
    :style="containerBackgroundColor"
  >
    <v-card :elevation="0" class="pa-4 pa-sm-10" color="primary" dark>
      <v-card-title class="justify-center pa-0">
        <h2>
          {{ signIn ? $t("auth.signIn") : $t("auth.signUp") }}
        </h2>
      </v-card-title>

      <v-card-text class="pa-0 mt-6">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            class="mb-4"
            v-model="email"
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            :label="$t('auth.email')"
            outlined
            hide-details="auto"
            :rules="emailRules"
            color="white"
          />

          <v-text-field
            v-model="password"
            id="password"
            name="password"
            autocomplete="current-password"
            required
            :label="$t('auth.password')"
            @keyup.enter="auth"
            outlined
            hide-details="auto"
            :rules="passwordRules"
            color="white"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            @click:append="showPassword = !showPassword"
          />
        </v-form>
      </v-card-text>

      <v-card-actions class="d-flex flex-column align-stretch pa-0 mt-6">
        <v-btn
          depressed
          id="resetPasswordButton"
          v-if="signIn"
          @click="resetPassword"
          text
          :loading="loadingPasswordReset"
          :disabled="loadingPasswordReset"
        >
          {{ $t("auth.forgottenPassword") }}
        </v-btn>

        <transition name="fade">
          <div v-if="signIn" class="d-flex flex-column mt-4">
            <v-btn
              depressed
              id="signInButton"
              @click="auth"
              :loading="loadingAuth"
              :disabled="loadingAuth"
            >
              {{ $t("auth.signIn") }}
            </v-btn>

            <v-btn
              depressed
              id="signInWithGoogleButton"
              class="mt-4"
              @click="authWithGoogle"
              color="white"
              light
              :loading="loadingAuthWithGoogle"
              :disabled="loadingAuthWithGoogle"
            >
              <v-img
                class="mr-2"
                src="/assets/img/auth/google_logo.svg"
                :max-width="16"
                :max-height="16"
                contain
              />
              {{ $t("auth.signInWithGoogle") }}
            </v-btn>

            <v-divider class="my-6" />

            <v-btn id="signUpButton" @click="toggleAuth" outlined depressed>
              {{ $t("auth.signUp") }}
            </v-btn>
          </div>

          <div v-else class="d-flex flex-column mt-6">
            <v-btn
              depressed
              id="signUpButton"
              @click="auth"
              :loading="loadingAuth"
              :disabled="loadingAuth"
            >
              {{ $t("auth.signUp") }}
            </v-btn>

            <v-btn
              depressed
              id="signUpWithGoogleButton"
              class="mt-4"
              color="white"
              light
              @click="authWithGoogle"
              :loading="loadingAuthWithGoogle"
              :disabled="loadingAuthWithGoogle"
            >
              <v-img
                class="mr-2"
                src="/assets/img/auth/google_logo.svg"
                :max-width="16"
                :max-height="16"
                contain
              />
              {{ $t("auth.signUpWithGoogle") }}
            </v-btn>

            <v-divider class="my-6" />

            <v-btn id="signInButton" @click="toggleAuth" outlined depressed>
              {{ $t("auth.signIn") }}
            </v-btn>
          </div>
        </transition>
      </v-card-actions>
    </v-card>

    <Dialog
      :visible="dialog"
      :title="dialogTitle"
      :message="dialogMessage"
      @close="dialog = false"
    >
      <v-btn @click="dialog = false" depressed>OK</v-btn>
    </Dialog>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { emailValidator, requiredValidator } from "@/helpers/rules-validator";
import FirebaseErrorUtils from "@/helpers/firebase-error-utils";
import Dialog from "@/components/molecules/Dialog.vue";

export default Vue.extend({
  components: { Dialog },
  name: "Auth",
  metaInfo() {
    return {
      title: this.$t("auth.title").toString(),
    };
  },
  data() {
    return {
      signIn: true,
      email: "",
      emailRules: emailValidator(
        this.$t("validators.emailRequired").toString(),
        this.$t("validators.emailBadlyFormatted").toString()
      ),
      password: "",
      submittedForgottenPassword: false,
      valid: false,
      loadingAuth: false,
      loadingAuthWithGoogle: false,
      loadingPasswordReset: false,
      dialog: false,
      dialogTitle: "",
      dialogMessage: "",
      showPassword: false,
    };
  },
  computed: {
    containerBackgroundColor() {
      const theme = this.$vuetify.theme.dark ? "dark" : "light";
      const color = (this.$vuetify.theme.themes[theme].primary as any).darken1;
      return `background-color: ${color}`;
    },
    form(): Vue & { validate: () => boolean; resetValidation: () => void } {
      return this.$refs.form as Vue & {
        validate: () => boolean;
        resetValidation: () => void;
      };
    },
    passwordRules() {
      if (this.submittedForgottenPassword) {
        return [];
      }

      return requiredValidator(
        this.$t("validators.passwordRequired").toString()
      );
    },
  },
  methods: {
    auth(event: KeyboardEvent) {
      (event?.target as HTMLInputElement).blur();

      this.submittedForgottenPassword = false;

      if (!this.form.validate()) {
        return;
      }

      this.loadingAuth = true;

      let promise;

      if (this.signIn) {
        promise = this.$services.auth.signIn(this.email, this.password);
      } else {
        promise = this.$services.auth.signUp(this.email, this.password);
      }

      promise
        .then(() => {
          this.handleNext();
        })
        .catch((error: any) => {
          this.dialogTitle = this.$t("common.error").toString();
          this.dialogMessage = this.$t(
            FirebaseErrorUtils.getTranslation(error)
          ).toString();
          this.dialog = true;
        })
        .finally(() => (this.loadingAuth = false));
    },
    authWithGoogle(event: KeyboardEvent) {
      (event?.target as HTMLInputElement).blur();

      this.loadingAuthWithGoogle = true;

      this.$services.auth
        .authWithGoogle()
        .then(() => {
          this.handleNext();
        })
        .catch((error: any) => {
          this.dialogTitle = this.$t("common.error").toString();
          this.dialogMessage = this.$t(
            FirebaseErrorUtils.getTranslation(error)
          ).toString();
          this.dialog = true;
        })
        .finally(() => (this.loadingAuthWithGoogle = false));
    },
    handleNext() {
      this.$router.push("/");
    },
    resetPassword() {
      this.submittedForgottenPassword = true;

      if (!this.form.validate()) {
        return;
      }

      this.loadingPasswordReset = true;

      this.$services.auth
        .resetPassword(this.email)
        .then(() => {
          this.dialogTitle = this.$t("auth.passwordResetSentTitle").toString();
          this.dialogMessage = this.$t(
            "auth.passwordResetSentMessage"
          ).toString();
          this.dialog = true;
        })
        .catch((error: any) => {
          this.dialogTitle = this.$t("common.error").toString();
          this.dialogMessage = this.$t(
            FirebaseErrorUtils.getTranslation(error)
          ).toString();
          this.dialog = true;
        })
        .finally(() => (this.loadingPasswordReset = false));
    },
    toggleAuth() {
      this.form.resetValidation();
      this.submittedForgottenPassword = false;
      this.signIn = !this.signIn;
    },
  },
});
</script>

<style lang="postcss" scoped>
.v-card {
  width: 100%;
  max-width: 28rem;
}
</style>
