<template>
  <view-container>
    <v-row>
      <v-col>
        <h1 class="text-h6">{{ $t("common.appTitle") }}</h1>
        <h2 class="subtitle-2 text-md-subtitle-1 mt-2">
          {{ $t("home.subtitle") }}
        </h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col :cols="12" :md="4">
        <v-card :elevation="0">
          <v-card-title>
            <v-icon color="success" class="mr-2">{{ currencyIcon() }}</v-icon>
            {{ numberToPrice(totalInvested) }}
          </v-card-title>
          <v-card-subtitle>{{ $t("home.totalInvested") }}</v-card-subtitle>
        </v-card>
      </v-col>

      <v-col :cols="12" :md="4">
        <v-card :elevation="0">
          <v-card-title>
            <v-icon color="orange" class="mr-2">mdi-chart-line</v-icon>
            {{ numberToPrice(totalValue) }}
          </v-card-title>
          <v-card-subtitle>{{ $t("home.totalValue") }}</v-card-subtitle>
        </v-card>
      </v-col>

      <v-col :cols="12" :md="4">
        <v-card :elevation="0">
          <v-card-title>
            <v-icon :color="precentChangeColor" class="mr-2">{{
              precentChangeIcon
            }}</v-icon>
            {{ percentChange }} %
          </v-card-title>
          <v-card-subtitle>{{ $t("home.percentChange") }}</v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col :cols="12" :md="4">
        <v-card :elevation="0">
          <v-card-subtitle>
            {{ $t("home.settings") }}
          </v-card-subtitle>
          <v-divider />

          <v-card-text>
            <v-text-field
              v-model="purchaseAmount"
              id="purchase-amount"
              name="purchase-amount"
              type="number"
              :label="$t('home.purchaseAmount')"
              outlined
              hide-details="auto"
              :prepend-inner-icon="currencyIcon()"
              @input="getCurrencySparkline"
              :min="1"
            ></v-text-field>

            <v-select
              v-model="selectedCryptoCurrency"
              :items="cryptoCurrencies"
              :label="$t('home.cryptoCurrency')"
              class="mt-4"
              outlined
              hide-details
              @input="getCurrencySparkline"
            ></v-select>

            <v-select
              v-model="selectedPeriod"
              :items="periods"
              :label="$t('home.repeatPurchase')"
              class="mt-4"
              outlined
              item-text="title"
              item-value="value"
              hide-details
              @input="getCurrencySparkline"
            ></v-select>

            <v-select
              v-model="selectedAccumulation"
              :items="accumulations"
              :label="$t('home.accumulateFor')"
              class="mt-4"
              outlined
              item-text="title"
              item-value="value"
              hide-details
              @input="getCurrencySparkline"
            ></v-select>

            <v-select
              v-model="selectedStarting"
              :items="startings"
              :label="$t('home.starting')"
              class="mt-4"
              outlined
              item-text="title"
              item-value="value"
              hide-details
              @input="getCurrencySparkline"
            ></v-select>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col :cols="12" :md="8">
        <v-card :elevation="0">
          <v-card-subtitle>
            {{ $t("home.portfolioEvolution") }}
          </v-card-subtitle>

          <v-card-text>
            <v-sparkline
              :value="valueAtDates"
              height="147"
              stroke-linecap="round"
              smooth
              :line-width="1"
            >
            </v-sparkline>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <a
          href="https://nomics.com"
          target="_blank"
          class="caption grey--text font-weight-regular"
          >Crypto Market Cap & Pricing Data Provided By Nomics</a
        >
      </v-col>
    </v-row>

    <Dialog
      :visible="showErrorDialog"
      :title="$t('common.error')"
      :message="$t('market.errorMessage')"
      @close="showErrorDialog = false"
    >
      <v-btn depressed @click="showErrorDialog = false">
        OK
      </v-btn>
    </Dialog>
  </view-container>
</template>

<script lang="ts">
import Vue from "vue";
import FormatterUtils from "@/helpers/formatter-utils";
import dayjs from "dayjs";
import Sparkline from "@/data/models/sparkline";
import { SparklineData } from "@/data/models/sparkline-data";

export default Vue.extend({
  data() {
    return {
      loading: false,
      showErrorDialog: false,
      purchaseAmount: 10,
      selectedCryptoCurrency: "BTC",
      selectedPeriod: "weekly",
      selectedAccumulation: "6_months",
      selectedStarting: "6_months_ago",
      sparkline: [] as SparklineData[],
    };
  },
  computed: {
    periods() {
      return [
        {
          title: this.$t("home.periods.daily"),
          value: "daily",
        },
        {
          title: this.$t("home.periods.weekly"),
          value: "weekly",
        },
        {
          title: this.$t("home.periods.every_two_weeks"),
          value: "every_two_weeks",
        },
        {
          title: this.$t("home.periods.monthly"),
          value: "monthly",
        },
      ];
    },
    cryptoCurrencies() {
      return [
        "BTC",
        "ETH",
        "BNB",
        "DOGE",
        "USDC",
        "ETC",
        "QTUM",
        "CHSB",
        "TRX",
        "EOS",
        "LSK",
        "ICX",
        "CHZ",
      ];
    },
    accumulations() {
      return [
        {
          title: this.$tc("home.accumulations.n_months", 6),
          value: "6_months",
        },
        {
          title: this.$tc("home.accumulations.n_years", 1),
          value: "1_year",
        },
        {
          title: this.$tc("home.accumulations.n_years", 2),
          value: "2_years",
        },
        {
          title: this.$tc("home.accumulations.n_years", 3),
          value: "3_years",
        },
        {
          title: this.$tc("home.accumulations.n_years", 4),
          value: "4_years",
        },
        {
          title: this.$tc("home.accumulations.n_years", 5),
          value: "5_years",
        },
        {
          title: this.$tc("home.accumulations.n_years", 6),
          value: "6_years",
        },
        {
          title: this.$tc("home.accumulations.n_years", 7),
          value: "7_years",
        },
        {
          title: this.$tc("home.accumulations.n_years", 8),
          value: "8_years",
        },
        {
          title: this.$tc("home.accumulations.n_years", 9),
          value: "9_years",
        },
      ];
    },
    startings() {
      return [
        {
          title: this.$tc("home.startings.n_months_ago", 6),
          value: "6_months_ago",
        },
        {
          title: this.$tc("home.startings.n_years_ago", 1),
          value: "1_year_ago",
        },
        {
          title: this.$tc("home.startings.n_years_ago", 2),
          value: "2_years_ago",
        },
        {
          title: this.$tc("home.startings.n_years_ago", 3),
          value: "3_years_ago",
        },
        {
          title: this.$tc("home.startings.n_years_ago", 4),
          value: "4_years_ago",
        },
        {
          title: this.$tc("home.startings.n_years_ago", 5),
          value: "5_years_ago",
        },
        {
          title: this.$tc("home.startings.n_years_ago", 6),
          value: "6_years_ago",
        },
        {
          title: this.$tc("home.startings.n_years_ago", 7),
          value: "7_years_ago",
        },
        {
          title: this.$tc("home.startings.n_years_ago", 8),
          value: "8_years_ago",
        },
        {
          title: this.$tc("home.startings.n_years_ago", 9),
          value: "9_years_ago",
        },
      ];
    },
    currentSparkline(): Sparkline {
      return this.$store.getters.currencySparkline;
    },
    startDate(): dayjs.Dayjs {
      let date = dayjs();

      switch (this.selectedStarting) {
        case "6_months_ago":
          date = date.subtract(6, "months");
          break;
        case "1_year_ago":
          date = date.subtract(1, "year");
          break;
        case "2_years_ago":
          date = date.subtract(2, "year");
          break;
        case "3_years_ago":
          date = date.subtract(3, "year");
          break;
        case "4_years_ago":
          date = date.subtract(4, "year");
          break;
        case "5_years_ago":
          date = date.subtract(5, "year");
          break;
        case "6_years_ago":
          date = date.subtract(6, "year");
          break;
        case "7_years_ago":
          date = date.subtract(7, "year");
          break;
        case "8_years_ago":
          date = date.subtract(8, "year");
          break;
        case "9_years_ago":
          date = date.subtract(9, "year");
          break;
        default:
          break;
      }

      return date.startOf("day");
    },
    endDate(): dayjs.Dayjs {
      let date = this.startDate;

      switch (this.selectedAccumulation) {
        case "6_months":
          date = date.add(6, "months");
          break;
        case "1_year":
          date = date.add(1, "year");
          break;
        case "2_years":
          date = date.add(2, "year");
          break;
        case "3_years":
          date = date.add(3, "year");
          break;
        case "4_years":
          date = date.add(4, "year");
          break;
        case "5_years":
          date = date.add(5, "year");
          break;
        case "6_years":
          date = date.add(6, "year");
          break;
        case "7_years":
          date = date.add(7, "year");
          break;
        case "8_years":
          date = date.add(8, "year");
          break;
        case "9_years":
          date = date.add(9, "year");
          break;
        default:
          break;
      }

      return date.startOf("day");
    },
    totalInvested(): number {
      let totalInvested = 0;
      let diff = 0;

      switch (this.selectedPeriod) {
        case "daily":
          diff = Math.round(this.endDate.diff(this.startDate, "day", true));

          totalInvested = diff * this.purchaseAmount;
          break;
        case "weekly":
          diff = Math.round(this.endDate.diff(this.startDate, "week", true));

          totalInvested = diff * this.purchaseAmount;
          break;
        case "every_two_weeks":
          diff =
            Math.round(this.endDate.diff(this.startDate, "week", true)) / 2;

          totalInvested = diff * this.purchaseAmount;
          break;
        case "monthly":
          diff = Math.round(this.endDate.diff(this.startDate, "month", true));

          totalInvested = diff * this.purchaseAmount;
          break;
      }

      return totalInvested;
    },
    totalValue(): number {
      return this.valueAtDates[this.valueAtDates.length - 1];
    },
    percentChange(): number {
      const initalValue = this.totalInvested;
      const finalValue = this.totalValue;
      const percent = ((finalValue - initalValue) / initalValue) * 100;

      const value = parseFloat(String(percent)).toFixed(2);

      return Number(value);
    },
    precentChangeIcon() {
      if (this.percentChange < 0) {
        return "mdi-arrow-down";
      } else if (this.percentChange > 0) {
        return "mdi-arrow-up";
      }

      return "min";
    },
    precentChangeColor() {
      if (this.percentChange < 0) {
        return "error";
      } else if (this.percentChange > 0) {
        return "success";
      }

      return "orange";
    },
    valueAtDates(): number[] {
      if (!this.sparkline[0]) {
        return [];
      }

      console.log(JSON.stringify(this.sparkline));

      const prices = this.sparkline.map((s) => Number(s.price));

      const purchases: number[] = [];

      prices.forEach((price, index) => {
        // There is no previous purchase, first is purchase amount
        if (index === 0) {
          purchases.push(this.purchaseAmount);
          return;
        }

        const previousPurchases = [];

        for (let i = 0; i < purchases.length; i++) {
          const previousPrice = prices[i];
          const previousQuantity = this.purchaseAmount / previousPrice;
          previousPurchases.push(previousQuantity * price);
        }

        const purchase =
          previousPurchases.reduce((a, b) => a + b, 0) + this.purchaseAmount;

        purchases.push(purchase);
      });

      return purchases.map((p) => Number(p));
    },
  },
  mounted() {
    this.getCurrencySparkline();
  },
  methods: {
    currencyIcon(): string {
      return `mdi-currency-${this.$store.getters.defaultCurrency.toLowerCase()}`;
    },
    numberToPrice(number: number): string {
      return FormatterUtils.numberToPrice(number);
    },
    getCurrencySparkline(reload = false) {
      this.loading = true;

      this.$store
        .dispatch("getCurrencySparkline", {
          currency: this.selectedCryptoCurrency,
          start: this.startDate.toDate(),
          end: this.endDate.toDate(),
        })
        .then(() => {
          this.getSparkline();

          if (reload) {
            this.$notify(this.$t("market.dataUpToDate").toString(), {
              icon: "mdi-check",
            });
          }
        })
        .catch(() => {
          this.showErrorDialog = true;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    getSparkline() {
      const currencySparkline = this.$store.getters
        .currencySparkline as Sparkline | null;

      if (!currencySparkline) {
        return [];
      }

      const data = this.currentSparkline.toData();

      data.sort((a, b) => {
        return a.timestamp.getTime() - b.timestamp.getTime();
      });

      this.sparkline = data;
    },
    getNearestDate(dates: Date[], dateToCompare: Date) {
      let minDiff: any = null;
      let mostAccurateDate = dates[0];

      dates.map((item) => {
        const diff = Math.abs(dayjs(dateToCompare).diff(item, "minutes", true));

        if (!minDiff || diff < minDiff) {
          minDiff = diff;
          mostAccurateDate = item;
        }
      });

      return mostAccurateDate;
    },
    getDatesRangeArray(
      startDate: dayjs.Dayjs,
      endDate: dayjs.Dayjs,
      interval: "days" | "week" | "month" | "year"
    ) {
      const config = {
        interval: interval || "days",
      };

      const dateArray = [];
      let currentDate = startDate.clone();

      while (currentDate < endDate) {
        currentDate = currentDate.clone().add(1, config.interval);
        dateArray.push(currentDate);
      }

      return dateArray;
    },
  },
});
</script>
