<template>
  <view-container>
    <v-row>
      <v-col>
        <v-data-table
          :loading="loading"
          :headers="headers"
          :items="currenciesTicker"
          :items-per-page="10"
          :search="search"
          class="overflow-hidden"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-text-field
                v-model="search"
                :label="$t('common.search')"
                append-icon="mdi-magnify"
                class="mr-4"
                clearable
                hide-details
              ></v-text-field>

              <v-btn
                depressed
                class="rounded"
                @click="getCurrenciesTicker"
                :fab="$vuetify.breakpoint.xs"
                :small="$vuetify.breakpoint.xs"
              >
                <v-icon>mdi-refresh</v-icon>
              </v-btn>
            </v-toolbar>
          </template>

          <template v-slot:[`item.name`]="{ item }">
            <span class="mr-2 font-weight-bold">{{ item.name }}</span>
            <span>{{ item.symbol }}</span>
          </template>

          <template v-slot:[`item.circulating_supply`]="{ item }">
            <span class="font-weight-bold">{{
              getCirculatingSupplyString(item)
            }}</span>
          </template>

          <template v-slot:[`item.price`]="{ item }">
            <span class="font-weight-bold">{{ getPriceString(item) }}</span>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <Dialog
      :visible="showErrorDialog"
      :title="$t('common.error')"
      :message="$t('market.errorMessage')"
      @close="showErrorDialog = false"
    >
      <v-btn depressed @click="showErrorDialog = false">
        OK
      </v-btn>
    </Dialog>
  </view-container>
</template>

<script lang="ts">
import Dialog from "@/components/molecules/Dialog.vue";
import FormatterUtils from "@/helpers/formatter-utils";
import Vue from "vue";

export default Vue.extend({
  components: { Dialog },
  computed: {
    currenciesTicker() {
      const currenciesTicker = this.$store.getters.currenciesTicker;

      return currenciesTicker;
    },
    headers(): { text: string; value: string; width?: number }[] {
      return [
        {
          text: this.$t("market.headers.rank").toString(),
          value: "rank",
        },
        {
          text: this.$t("market.headers.name").toString(),
          value: "name",
        },
        {
          text: this.$t("market.headers.price").toString(),
          value: "price",
        },
        {
          text: this.$t("market.headers.circulating_supply").toString(),
          value: "circulating_supply",
        },
      ];
    },
  },
  data() {
    return {
      loading: false,
      showErrorDialog: false,
      search: "",
    };
  },
  mounted() {
    this.getCurrenciesTicker();
  },
  methods: {
    getCurrenciesTicker(reload = false) {
      this.loading = true;

      this.$store
        .dispatch("getCurrenciesTicker")
        .then(() => {
          if (reload) {
            this.$notify(this.$t("market.dataUpToDate").toString(), {
              icon: "mdi-check",
            });
          }
        })
        .catch(() => {
          this.showErrorDialog = true;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    getPriceString(item: any): string {
      return FormatterUtils.numberToPrice(item.price);
    },
    getCirculatingSupplyString(item: any): string {
      const formattedNumber = FormatterUtils.numberToDigitNumber(
        item.circulating_supply
      );

      return `${formattedNumber} ${item.symbol}`;
    },
  },
});
</script>
