<template>
  <v-container
    fluid
    fill-height
    align-center
    justify-center
    :style="containerBackgroundColor"
  >
    <v-card :elevation="0" class="pa-4 pa-sm-10 text-center" color="transparent" dark>
      <v-row>
        <v-col>
          <h1 class="text-h4 font-weight-bold">{{ $t("404.oups") }}</h1>
          <h2 class="subtitle-2 text-md-subtitle-1 mt-2">
            {{ $t("404.subtitle") }}
          </h2>

          <v-divider class="my-5" />

          <v-btn depressed to="/" color="primary">
            {{ $t("404.backToHome") }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  computed: {
    containerBackgroundColor() {
      const theme = this.$vuetify.theme.dark ? "dark" : "light";
      const color = (this.$vuetify.theme.themes[theme].primary as any).darken1;
      return `background-color: ${color}`;
    },
  },
});
</script>
