<template>
  <view-container>
    <General />
    <Account />
    <Informations />
  </view-container>
</template>

<script lang="ts">
import Account from "@/components/organisms/settings/Account.vue";
import Informations from "@/components/organisms/settings/Informations.vue";
import General from "@/components/organisms/settings/General.vue";
import Vue from "vue";

export default Vue.extend({
  components: { Account, General, Informations },
});
</script>
