<template>
  <view-container>
    <v-row>
      <v-col>
        <v-data-table
          :loading="loading"
          :headers="headers"
          :items="users"
          :items-per-page="10"
          :search="search"
          class="overflow-hidden"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-text-field
                v-model="search"
                :label="$t('common.search')"
                class="mr-4"
                append-icon="mdi-magnify"
                clearable
                hide-details
              ></v-text-field>

              <v-btn
                depressed
                color="success"
                class="mr-2 rounded"
                @click="showCreateUserDialog = true"
                :fab="$vuetify.breakpoint.xs"
                :small="$vuetify.breakpoint.xs"
              >
                <v-icon v-if="$vuetify.breakpoint.xs">mdi-plus</v-icon>
                <span v-else>{{ $t("users.createUser") }}</span>
              </v-btn>

              <v-btn
                depressed
                @click="getAllUsers"
                class="rounded"
                :loading="loading"
                :fab="$vuetify.breakpoint.xs"
                :small="$vuetify.breakpoint.xs"
              >
                <v-icon>mdi-refresh</v-icon>
              </v-btn>
            </v-toolbar>
          </template>

          <template v-slot:[`item.id`]="{ item }">
            <div class="d-flex mt-1">
              <v-chip>{{ item.id }}</v-chip>
              <v-btn
                depressed
                icon
                v-clipboard:copy="item.id"
                v-clipboard:success="showCopiedSnackbar"
                class="ml-1"
              >
                <v-icon>mdi-content-copy</v-icon>
              </v-btn>
            </div>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="showEditUser(item)">
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="showDeleteUser(item)"
              :disabled="canDeleteUser(item)"
            >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <CreateUserDialog
      :visible="showCreateUserDialog"
      @close="showCreateUserDialog = false"
    />

    <UpdateUserDialog
      :visible="showEditUserDialog"
      :editingUser="editingUser"
      @close="closeEditUser"
    />

    <Dialog
      :visible="showDeleteUserDialog"
      :title="$t('users.deleteUser')"
      :message="
        $t('users.confirmDeleteUserMessage', {
          firstName: deletingUser ? deletingUser.firstName : '',
          lastName: deletingUser ? deletingUser.lastName : '',
        })
      "
      @close="showDeleteUserDialog = false"
    >
      <v-btn depressed @click="showDeleteUserDialog = false">
        {{ $t("common.cancel") }}
      </v-btn>

      <v-btn depressed color="error" @click="deleteUser">
        {{ $t("users.deleteUser") }}
      </v-btn>
    </Dialog>

    <Dialog
      :visible="showErrorDialog"
      :title="$t('common.error')"
      :message="$t('users.errorMessage')"
      @close="showErrorDialog = false"
    >
      <v-btn depressed @click="showErrorDialog = false">
        OK
      </v-btn>
    </Dialog>
  </view-container>
</template>

<script lang="ts">
import Dialog from "@/components/molecules/Dialog.vue";
import CreateUserDialog from "@/components/organisms/users/CreateUserDialog.vue";
import UpdateUserDialog from "@/components/organisms/users/UpdateUserDialog.vue";
import User from "@/data/models/user";
import Vue from "vue";

export default Vue.extend({
  components: { CreateUserDialog, UpdateUserDialog, Dialog },
  computed: {
    users(): User[] {
      return this.$store.getters.users;
    },
    headers(): { text: string; value: string; sortable?: boolean }[] {
      return [
        { text: this.$t("users.headers.id").toString(), value: "id" },
        {
          text: this.$t("users.headers.firstName").toString(),
          value: "firstName",
        },
        {
          text: this.$t("users.headers.lastName").toString(),
          value: "lastName",
        },
        {
          text: this.$t("users.headers.actions").toString(),
          value: "actions",
          sortable: false,
        },
      ];
    },
  },
  data() {
    return {
      loading: true,
      showErrorDialog: false,
      search: "",
      editingUser: null as User | null,
      deletingUser: null as User | null,
      showCreateUserDialog: false,
      showEditUserDialog: false,
      showDeleteUserDialog: false,
      copiedId: "",
    };
  },
  mounted() {
    this.getAllUsers();
  },
  methods: {
    getAllUsers(reload = false) {
      this.loading = true;

      this.$store
        .dispatch("observeAllUsers")
        .then(() => {
          if (reload) {
            this.$notify(this.$t("users.dataUpToDate").toString(), {
              icon: "mdi-check",
              timeout: 1000000,
            });
          }
        })
        .catch(() => {
          this.showErrorDialog = true;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    showEditUser(user: User) {
      this.editingUser = user.copy();
      this.showEditUserDialog = true;
    },
    closeEditUser() {
      this.editingUser = null;
      this.showEditUserDialog = false;
    },
    showDeleteUser(user: User) {
      this.deletingUser = user;
      this.showDeleteUserDialog = true;
    },
    deleteUser() {
      console.log(this.deletingUser);
    },
    closeDeleteUser() {
      this.deletingUser = null;
      this.showDeleteUserDialog = false;
    },
    canDeleteUser(user: User): boolean {
      return user.id !== this.$store.getters.currentUser.uid;
    },
    showCopiedSnackbar(e: any) {
      this.$notify(this.$t("users.textCopied", { text: e.text }).toString());
    },
  },
});
</script>
