<template>
  <v-app-bar
    floating
    :color="$vuetify.theme.dark ? '' : 'white'"
    class=" rounded d-block mx-4 mx-sm-6 mx-md-8 mx-lg-10 mt-4 mt-sm-6 mt-md-8 mt-lg-10"
    flat
  >
    <v-app-bar-nav-icon @click="$store.dispatch('toggleDrawer')" />

    <v-toolbar-title>
      {{ $t($route.meta.title) }}
    </v-toolbar-title>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",
  methods: {
    signOut() {
      this.$services.auth.signOut().then(() => {
        this.$router.replace("/auth");
      });
    },
  },
});
</script>
