/* v-btn */

.v-btn--active.no-active::before {
  opacity: 0 !important;
}

/* v-list-item */
.v-list-item--active.no-active::before {
  opacity: 0 !important;
}

/* Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
