<template>
  <v-dialog :value="visible" max-width="600px" persistent>
    <v-card>
      <v-card-title>
        <span class="headline">{{ $t("users.createUser") }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="$t('users.email') + '*'"
                  v-model="formFields.email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  required
                  outlined
                  :rules="emailRules"
                  hide-details="auto"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="$t('users.password') + '*'"
                  v-model="formFields.password"
                  name="password"
                  autocomplete="current-password"
                  required
                  outlined
                  :rules="[...requiredRules, ...minRules]"
                  hide-details="auto"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPassword ? 'text' : 'password'"
                  @click:append="showPassword = !showPassword"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="$t('users.firstName') + '*'"
                  v-model="formFields.firstName"
                  name="firstName"
                  type="text"
                  autocomplete="given-name"
                  required
                  outlined
                  :rules="requiredRules"
                  hide-details="auto"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="$t('users.lastName') + '*'"
                  v-model="formFields.lastName"
                  name="lastName"
                  type="text"
                  autocomplete="family-name"
                  required
                  @keyup.enter="save"
                  outlined
                  :rules="requiredRules"
                  hide-details="auto"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn depressed @click="close">
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn
          depressed
          color="primary darken-1"
          @click="save"
          :loading="loadingSave"
          :disabled="loadingSave"
        >
          {{ $t("common.create") }}
        </v-btn>
      </v-card-actions>
    </v-card>

    <Dialog
      :visible="dialog"
      :title="dialogTitle"
      :message="dialogMessage"
      @close="dialog = false"
    >
      <v-btn @click="dialog = false" depressed>OK</v-btn>
    </Dialog>
  </v-dialog>
</template>

<script lang="ts">
import {
  emailValidator,
  requiredValidator,
  minValidator,
} from "@/helpers/rules-validator";
import Vue from "vue";
import Dialog from "@/components/molecules/Dialog.vue";
import FirebaseErrorUtils from "@/helpers/firebase-error-utils";
import User from "@/data/models/user";

export default Vue.extend({
  components: { Dialog },
  props: {
    visible: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    form(): Vue & { validate: () => boolean; resetValidation: () => void } {
      return this.$refs.form as Vue & {
        validate: () => boolean;
        resetValidation: () => void;
      };
    },
  },
  data() {
    return {
      valid: false,
      loadingSave: false,
      formFields: {
        email: "",
        password: "",
        firstName: "",
        lastName: "",
      },
      emailRules: emailValidator(
        this.$t("validators.emailRequired").toString(),
        this.$t("validators.emailBadlyFormatted").toString()
      ),
      requiredRules: requiredValidator(
        this.$t("validators.fieldRequired").toString()
      ),
      minRules: minValidator(
        6,
        this.$t("validators.minRequired", { number: 6 }).toString()
      ),
      dialog: false,
      dialogTitle: "",
      dialogMessage: "",
      showPassword: false,
    };
  },
  methods: {
    close() {
      this.loadingSave = false;
      this.showPassword = false;
      this.dialog = false;
      this.dialogTitle = "";
      this.dialogMessage = "";
      this.form.resetValidation();

      this.formFields = {
        email: "",
        password: "",
        firstName: "",
        lastName: "",
      };

      this.$emit("close");
    },
    save() {
      if (!this.form.validate()) {
        return;
      }

      this.loadingSave = true;

      this.$services.auth
        .signUp(this.formFields.email, this.formFields.password)
        .then((userCredentials) => {
          const newUser = new User();
          newUser.email = this.formFields.email.trim();
          newUser.firstName = this.formFields.firstName.trim();
          newUser.lastName = this.formFields.lastName.trim();

          return this.$services.users
            .createUser(userCredentials, newUser)
            .then(() => {
              this.close();
            });
        })
        .catch((error: any) => {
          this.dialogTitle = this.$t("common.error").toString();
          this.dialogMessage = this.$t(
            FirebaseErrorUtils.getTranslation(error)
          ).toString();
          this.dialog = true;
        })
        .finally(() => (this.loadingSave = false));
    },
  },
});
</script>
