<template>
  <v-dialog v-model="visible" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ $t("users.editUser") }}</span>
      </v-card-title>

      <v-card-text v-if="editingUser">
        <v-container>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="$t('users.firstName') + '*'"
                  v-model="formFields.firstName"
                  required
                  outlined
                  :rules="requiredRules"
                  hide-details="auto"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="$t('users.lastName') + '*'"
                  v-model="formFields.lastName"
                  required
                  @keyup.enter="save"
                  outlined
                  :rules="requiredRules"
                  hide-details="auto"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn depressed @click="close">
          {{ $t("common.cancel") }}
        </v-btn>
        <v-btn
          depressed
          color="primary darken-1"
          @click="save"
          :loading="loadingSave"
          :disabled="loadingSave"
        >
          {{ $t("common.save") }}
        </v-btn>
      </v-card-actions>
    </v-card>

    <Dialog
      :visible="dialog"
      :title="dialogTitle"
      :message="dialogMessage"
      @close="dialog = false"
    >
      <v-btn @click="dialog = false" depressed>OK</v-btn>
    </Dialog>
  </v-dialog>
</template>

<script lang="ts">
import { requiredValidator } from "@/helpers/rules-validator";
import Vue, { PropType } from "vue";
import Dialog from "@/components/molecules/Dialog.vue";
import FirebaseErrorUtils from "@/helpers/firebase-error-utils";
import User from "@/data/models/user";

export default Vue.extend({
  components: { Dialog },
  props: {
    visible: {
      type: Boolean,
      required: true,
    },
    editingUser: {
      type: Object as PropType<User>,
    },
  },
  computed: {
    form(): Vue & { validate: () => boolean; resetValidation: () => void } {
      return this.$refs.form as Vue & {
        validate: () => boolean;
        resetValidation: () => void;
      };
    },
  },
  watch: {
    editingUser(newValue: User | null) {
      this.formFields.firstName = newValue?.firstName || "";
      this.formFields.lastName = newValue?.lastName || "";
    },
  },
  data() {
    return {
      valid: false,
      loadingSave: false,
      formFields: {
        firstName: "",
        lastName: "",
      },
      requiredRules: requiredValidator(
        this.$t("validators.fieldRequired").toString()
      ),
      dialog: false,
      dialogTitle: "",
      dialogMessage: "",
    };
  },
  methods: {
    close() {
      this.loadingSave = false;
      this.form.resetValidation();

      this.formFields = {
        firstName: "",
        lastName: "",
      };

      this.$emit("close");
    },
    save() {
      if (!this.form.validate() || !this.editingUser) {
        return;
      }

      this.loadingSave = true;

      const updatedUser = this.editingUser.copy();
      updatedUser.firstName = this.formFields.firstName.trim();
      updatedUser.lastName = this.formFields.lastName.trim();

      this.$services.users
        .updateUser(updatedUser)
        .then(() => {
          this.close();
        })
        .catch((error: any) => {
          this.dialogTitle = this.$t("common.error").toString();
          this.dialogMessage = this.$t(
            FirebaseErrorUtils.getTranslation(error)
          ).toString();
          this.dialog = true;
        })
        .finally(() => (this.loadingSave = false));
    },
  },
});
</script>
