<template>
  <v-navigation-drawer
    v-model="isDrawerMini"
    app
    floating
    :permanent="$vuetify.breakpoint.smAndUp"
    mobile-breakpoint="xs"
    :mini-variant="isDrawerMini && $vuetify.breakpoint.smAndUp"
    class="rounded-r-lg"
    @input="onInput"
  >
    <v-list dense nav>
      <v-list-item to="/" class="no-active">
        <v-list-item-icon>
          <v-icon
            :large="!isDrawerMini !== $vuetify.breakpoint.xs"
            color="primary"
            >mdi-currency-usd</v-icon
          >
        </v-list-item-icon>

        <v-list-item-title>
          {{ $t("common.appTitle") }}
        </v-list-item-title>
      </v-list-item>

      <v-tooltip right v-for="link in links" :key="link.title">
        <template v-slot:activator="{ on, attrs }">
          <v-list-item
            v-bind="attrs"
            v-on="on"
            link
            :to="link.path"
            active-class="primary--text"
          >
            <v-list-item-icon>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>
                {{ link.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
        <span>{{ link.title }}</span>
      </v-tooltip>
    </v-list>

    <v-divider />

    <v-list dense nav>
      <v-tooltip right>
        <template v-slot:activator="{ on, attrs }">
          <v-list-item
            link
            to="/settings"
            v-bind="attrs"
            v-on="on"
            active-class="primary--text"
          >
            <v-list-item-icon>
              <v-icon>mdi-cog</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>
                {{ $t("drawer.links.settings") }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
        <span>{{ $t("drawer.links.settings") }}</span>
      </v-tooltip>
    </v-list>

    <template v-slot:append>
      <v-list dense nav>
        <v-tooltip right>
          <template v-slot:activator="{ on, attrs }">
            <v-list-item
              @click="isSignOutDialogVisible = true"
              v-bind="attrs"
              v-on="on"
            >
              <v-list-item-icon>
                <v-icon>mdi-logout</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{
                  $t("common.signOut")
                }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <span>{{ $t("common.signOut") }}</span>
        </v-tooltip>
      </v-list>
    </template>

    <Dialog
      :visible="isSignOutDialogVisible"
      :title="$t('common.signOut')"
      :message="$t('drawer.confirmSignOutMessage')"
      @close="isSignOutDialogVisible = false"
    >
      <v-btn depressed @click="isSignOutDialogVisible = false">
        {{ $t("common.cancel") }}
      </v-btn>

      <v-btn depressed color="error" @click="signOut">
        {{ $t("common.signOut") }}
      </v-btn>
    </Dialog>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from "vue";
import Dialog from "@/components/molecules/Dialog.vue";

export default Vue.extend({
  name: "App",
  components: {
    Dialog,
  },
  computed: {
    isDrawerMini: {
      get(): boolean {
        return this.$store.getters.isDrawerMini;
      },
      set() {
        null;
      },
    },
  },
  data() {
    return {
      isSignOutDialogVisible: false,
      links: [
        {
          title: this.$t("drawer.links.home"),
          path: "/",
          icon: "mdi-home-outline",
        },
        {
          title: this.$t("drawer.links.market"),
          path: "/market",
          icon: "mdi-chart-line",
        },
      ],
    };
  },
  methods: {
    onInput(event: boolean) {
      this.$store.commit("setDrawerMini", event);
    },
    signOut() {
      this.isSignOutDialogVisible = false;

      this.$services.auth.signOut().then(() => {
        this.$router.replace("/auth");
      });
    },
  },
});
</script>
