<template>
  <v-app>
    <v-slide-y-transition mode="out-in">
      <v-main :style="{ background: $vuetify.theme.themes[theme].background }">
        <Drawer v-if="showDrawer" />
        <Header v-if="showHeader" />
        <v-slide-y-transition mode="out-in">
          <router-view />
        </v-slide-y-transition>
      </v-main>
    </v-slide-y-transition>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import Drawer from "@/components/organisms/Drawer.vue";
import Header from "@/components/molecules/Header.vue";

export default Vue.extend({
  components: { Drawer, Header },
  name: "App",
  metaInfo() {
    const title = this.$t(this.$route.meta.title).toString();
    const appTitle = this.$t("common.appTitle").toString();
    return {
      title: `${title} | ${appTitle}`,
    };
  },
  computed: {
    showDrawer(): boolean {
      return this.$route.meta.showDrawer || false;
    },
    showHeader(): boolean {
      return this.$route.meta.showHeader || false;
    },
    theme() {
      return this.$vuetify.theme.dark ? "dark" : "light";
    },
  },
  data() {
    return {
      drawer: false,
    };
  },
  mounted() {
    this.$services.auth.observeCurrentUser();
  },
});
</script>
